body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    background-color: #F6EBF4;
    color: black;
}

#mainContainer {
    padding: 5px;
    padding-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu {
    overflow: hidden;
    position: fixed;
    width: 100%;
    background-color: #ED0B70;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu a {
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 10px;
}

.logoutIcon {
    margin-left: auto;
}

.logoutIcon:hover {
    color: #482673;
}

.card {
    box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    margin-top: 100px;
    padding-top: 10px;
    text-align: center;
    border-radius: 10%;
}

.card h2 {
    color: #482673;
}

.cardInputField {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80%;
    font-size: 16px;
}

.card a {
    color: #4CBFA6;
    text-decoration: none;
    font-size: 16px;
}

.cardBtn {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #482673;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.profileInfoCard {
    box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: auto;
    margin-top: 100px;
    text-align: center;
    border-radius: 10%;
    padding-bottom: 20px;
}

.profileInfoCard h2 {
    background-color: #482673;
    color: white;
    padding-top: 0px;
    padding: 5px;
    margin-bottom: 5px;
}

.cardField {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80%;
    font-size: 16px;
    text-align: start;
    padding-left: 30px;
    padding-bottom: 5px;
}

.cardSmallBtn {
    margin-top: 10px;
    border: none;
    display: inline-block;
    padding: 10px;
    color: white;
    background-color: #482673;
    text-align: center;
    font-size: 18px;
    border-radius: 12px;
}

.cardSmallBtn:hover {
    background-color: #4CBFA6;
    color: #023B59;
}

.bolded {
    font-weight: bold;
    font-size: 17px;
    color: #023B59;
}

.cardPhoto {
    width: 150px;
}

.flip-container {
    perspective: 1000px;
    height: 150px;
    position: relative;
}

.flip-container:hover .flipper {
    transform: rotateY(180deg);
}

.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

.front,
.back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}

.front {
    z-index: 2;
}

.back {
    transform: rotateY(180deg);
}

table {
    box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.2);
    width: 1000px;
    margin: auto;
    text-align: center;
    border-radius: 10%;
    padding-bottom: 20px;
}

th {
    background-color: #482673;
    color: white;
    font-size: 18px; 
}

td, tr {
    border: 2px solid #fbfbfb;
    padding: 15px;
    margin-bottom: 5px;
}

h2 {
    text-align: center;
    padding-top: 50px; 
}

.tableBtn {
    border: none;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #482673;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    position: absolute;
    left: 47%;
    margin: 0;
}
