<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Качи снимки</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../css/style.css">
    <script defer src="../js/login.js"></script>
    <script src="../js/logout.js"></script>
    <script src="../js/loadAlbumsGallery.js"></script>
    
</head>

<body>
    <div id="navbar" class="nav-menu">
        <a class="icon" href="homePageStudent.html"><i class="fa-solid fa-house"></i> Начало</a>
        <a class="icon" href="studentProfileBasic.html"><i class="fa-solid fa-user"></i> Моят профил</a>
        <a class="icon" href="showStudentsByCriteriaStudent.html"><i class="fa-solid fa-magnifying-glass"></i> Студенти</a>
        <a class="icon" href="uploadPicturesStudent.html"><i class="fa-solid fa-image"></i> Качи снимки</a>
        <a class="icon" href="requestPhotosessionStudent.html"><i class="fa-solid fa-file-pen"></i> Резервирай фотосесия</a>
        <a class="icon" href="myReservationsStudent.html"><i class="fa-solid fa-clock"></i> Моите резервации</a>
        <a class="icon" href="galleryStudent.html"><i class="fa-solid fa-image"></i> Галерия</a>
        <a class="icon logoutIcon" onclick="logout()"><i class="fa-solid fa-right-from-bracket"></i>Изход</a>
    </div>

    <div id="mainContainer">
        <div id="container">
            <div id="albumsContainer">
                <div id="privateAlbumsContainer" class="tableContainer">
                    <h2>Моите албуми</h2>
                    <div id="privateAlbums"> 
                    </div>
                    <div id="emptyPrivateAlbums" class="profileInfoCard">
                        <h3>Няма албуми за показване</h3>
                    </div>
                </div>
                <div id="publicAlbumsContainer" class="tableContainer">
                    <h2>Публични албуми</h2>
                    <div id="publicAlbums">
                    </div>
                    <div id="emptyPublicAlbums" class="profileInfoCard">
                        <h3>Няма албуми за показване</h3>
                    </div>
                </div>
            </div>

            <div id="exportPhotoCard" class="profileInfoCard" style="display: none;">
                <h2>Заяви отпечатване на снимка: </h2>
                <form id="exportPhotoCardForm">
                    <!-- <p class="cardField"><span class="bolded">Избери снимка:</span></p>
                    <select class="cardInputField" id="photo" name="photo" required>
                    </select> -->

                    <p class="cardField"><span class="bolded">Избери фотограф:</span></p>
                    <select class="cardInputField" id="photographer" name="photographer" required>
                    </select>

                    <p class="cardField"><span class="bolded">Избери услуга:</span></p>
                    <select class="cardInputField" id="photoExportService" name="photoExportService" required>
                    </select>

                    <input class="cardSmallBtn" type="submit" value="Покажи">
                </form>
            </div>
        </div>
    </div>
</body>