<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
</head>

<body>
    <div id="navigation">
        <!-- Add navigation -->
    </div>

    <div id="mainContainer">
        <div id="container">
            <div id="loginContainer">
                <h2>Влезте в профила си</h2>
                <form>
                    <input type="text" id="username" name="usernameInput" placeholder="Потребителско име">
                    <input type="password" id="password" name="passwordInput" placeholder="Парола">
                    <input id="loginBtn" name="loginBtn" type="submit" value="Вход">

                </form>
            </div>
        </div>
    </div>
</body>

</html>