<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Моят профил</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/logout.js"></script>
</head>

<body>
    <div id="navbar" class="nav-menu">
        <!-- Add navigation -->
        <a class="icon" href="studentProfileBasic.html"><i class="fa-solid fa-user"></i> Основна информация</a>
        <a class="icon" href="studentProfileAcademic.html"><i class="fa-solid fa-user-graduate"></i> Академична информация</a>
        <a class="icon logoutIcon" onclick="logout()"><i class="fa-solid fa-right-from-bracket"></i>Изход</a>
        <a href=""></a>
    </div>

    <div id="mainContainer">
        <div id="container">
            <div id="profileInformationContainer" class="profileInfoCard">
                <div id="academicInfoContainer">
                    <h2>Академична информация</h2>
                    <img src="../img/graduateCap.png" class="cardPhoto" alt="avatar">
                    <p class="cardField" id="major" name="major"><span class="bolded">Специалност:</span></p>
                    <p class="cardField" id="class" name="class"><span class="bolded">Випуск:</span></p>
                    <p class="cardField" id="stream" name="stream"><span class="bolded">Поток:</span></p>
                    <p class="cardField" id="administrativeGroup" name="administrativeGroup"><span class="bolded">Група:</span></p>

                    <button id="editBtn" class="cardSmallBtn" name="editBtn">Редактирай информация</button>
                </div>
            </div>
        </div>
    </div>

    
</body>

</html>